    .form-wrap {
        width: 650px
    }   
    h1 {
        text-align: center
    } 
    a{
        color: inherit
    }
    .fa-github{
        position: absolute;
        margin: -95px -10px
    }   
    .form-group {
        margin-top: 2rem
    }
    .form-group .right {
        position: absolute;
        margin: -25px 590px;
        color: #5cb85c 
    }
    .success {
        border-color: #5cb85c 
    }
    .error {
        border-color: #d9534f
    }
    .result{
        text-indent: 2rem;
        line-height: 40px;
        border-radius: .25rem;
        border: 1px solid #ccc;
        color: #5cb85c ; 
        background: #E0EFD8
    }