<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AngularJS - Form</title>
    <link rel="stylesheet" href="lib/css/bootstrap.css">
    <link rel="stylesheet" href="lib/css/font-awesome.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body ng-app="myApp">
    <div class="form-wrap container" ng-controller="formController">
        <h1 class="m-y-3" ng-bind="title"></h1>
        <a href="https://github.com/TransformGit"><span class="fa fa-github fa-3x"></span></a>
        <hr>
        <form action="https://github.com/TransformGit/Angular-TodoList" class="form-horizontal" name="subform" ng-submit="submitForm()">
            <div class="form-group result" ng-if="subform.$valid" ng-bind="success"></div>
            <div class="form-group" ng-class="{success: subform.username.$valid}">
                <label>Username</label>
                <input type="text" name="username" class="form-control" placeholder="enter username" ng-class="{error: subform.username.$invalid &&
                subform.username.$touched, success: subform.username.$valid &&
                subform.username.$touched}" ng-model="userdata.username" ng-minlength="6" ng-maxlength="12" required>
                <p class="text-danger" ng-if="subform.username.$error.required && subform.username.$touched" ng-bind="usrnull"></p>
                <p class="text-danger" ng-if="(subform.username.$error.minlength || subform.username.$error.maxlength) && subform.username.$touched" ng-bind="usrlengtherror"></p>
                <span class="fa fa-check right" ng-if="subform.username.$valid"></span>
            </div>
            <div class="form-group" ng-class="{success: subform.password.$valid}">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="enter password" 
                ng-class="{error: subform.password.$invalid &&
                subform.password.$touched, success: subform.password.$valid &&
                subform.password.$touched}"
                ng-model="userdata.password" ng-minlength="6" ng-maxlength="12" required>
                <p class="text-danger" ng-if="subform.password.$error.required && subform.password.$touched" ng-bind="passnull"></p>
                <p class="text-danger" ng-if="(subform.password.$error.minlength || subform.password.$error.maxlength) && subform.password.$touched" ng-bind="passlengtherror"></p>
                <span class="fa fa-check right" ng-if="subform.password.$valid"></span>
            </div>
            <div class="form-group" ng-class="{success: subform.password2.$valid}">
                <label>Confirm password</label>
                <input type="password" name="password2" class="form-control" placeholder="enter password again" 
                ng-class="{error: subform.password2.$invalid &&
                subform.password2.$touched, success: subform.password2.$valid &&
                subform.password2.$touched}"
                ng-disabled="subform.password.$invalid"
                ng-model="userdata.password2" compare="userdata.password" required>
                <p class="text-danger" ng-if="subform.password2.$error.compare && subform.password2.$touched" ng-bind="pass2error"></p>
                <span class="fa fa-check right" ng-if="subform.password2.$valid"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success col-sm-12" ng-disabled="subform.$invalid">
                <span class="fa fa-bolt"></span> Submit</button>
            </div>
        </form>
    </div>
    <script src="lib/angular.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
